{% extends "website/layout.html" %}
{% load static %}

{% block script %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.1/marked.min.js"></script>
{% endblock %}

{% block body %}
        <div class="articleHeader">
            <h6 style="display: inline-block;"><a href="{% url 'articleView' article.writer.id %}" style="color: black;">{{ article.writer.name }}</a> - {{ article.createdTime|date:"j F Y" }}</h6>
            <h1><strong>{{ article.articleName }}</strong></h1>
            <img src="{{ article.image.url }}">
            <br>
            <h6 style="display: inline-block; ">{{ article.imageCredit }}</h6>
        </div>
        <br>
        <h5 class="articleContent">{{ article.articleContent|safe }}</h5>
        {% if user.is_superuser %}
            <a href="{% url 'articleEditView' article.id %}"><h2>Edit</h2></a>
        {% endif %}
{% endblock %}