{% extends "website/layout.html" %}
{% load static %}

{% block script %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.1/marked.min.js"></script>
{% endblock %}

{% block body %}
    <h1>Editors-In-Chief:</h1>
    <ul style="padding-left: 30px">
        {% for member in chief %}
            <li><a href="{% url 'articleView' member.id %}" style="color: black;"><h4>{{ member.name }}</h4></a></li>
        {% endfor %}
    </ul>
    <h1>Assistant Editor:</h1>
    <ul style="padding-left: 30px">
        {% for member in assistant %}
            <li><a href="{% url 'articleView' member.id %}" style="color: black;"><h4>{{ member.name }}</h4></a></li>
        {% endfor %}
    </ul>
    <h1>Tech Executive:</h1>
    <ul style="padding-left: 30px">
        {% for member in tech %}
            <li><a href="{% url 'articleView' member.id %}" style="color: black;"><h4>{{ member.name }}</h4></a></li>
        {% endfor %}
    </ul>
    <h1>Layout Editor:</h1>
    <ul style="padding-left: 30px">
        {% for member in layout %}
            <li><a href="{% url 'articleView' member.id %}" style="color: black;"><h4>{{ member.name }}</h4></a></li>
        {% endfor %}
    </ul>
    <h1>News Editors:</h1>
    <ul style="padding-left: 30px">
        {% for member in news %}
            <li><a href="{% url 'articleView' member.id %}" style="color: black;"><h4>{{ member.name }}</h4></a></li>
        {% endfor %}
    </ul>
    <h1>Opinions Editors:</h1>
    <ul style="padding-left: 30px">
        {% for member in opinions %}
            <li><a href="{% url 'articleView' member.id %}" style="color: black;"><h4>{{ member.name }}</h4></a></li>
        {% endfor %}
    </ul>
    <h1>Sports Editors:</h1>
    <ul style="padding-left: 30px">
        {% for member in sports %}
            <li><a href="{% url 'articleView' member.id %}" style="color: black;"><h4>{{ member.name }}</h4></a></li>
        {% endfor %}
    </ul>
    <h1>Arts Editors:</h1>
    <ul style="padding-left: 30px">
        {% for member in arts %}
            <li><a href="{% url 'articleView' member.id %}" style="color: black;"><h4>{{ member.name }}</h4></a></li>
        {% endfor %}
    </ul>
    <h1>Lifestyles Editors:</h1>
    <ul style="padding-left: 30px">
        {% for member in lifestyles %}
            <li><a href="{% url 'articleView' member.id %}" style="color: black;"><h4>{{ member.name }}</h4></a></li>
        {% endfor %}
    </ul>
    <h1>Humor Editors:</h1>
    <ul style="padding-left: 30px">
        {% for member in humor %}
            <li><a href="{% url 'articleView' member.id %}" style="color: black;"><h4>{{ member.name }}</h4></a></li>
        {% endfor %}
    </ul>
    <h1>Graphics Editor:</h1>
    <ul style="padding-left: 30px">
        {% for member in graphics %}
            <li><a href="{% url 'articleView' member.id %}" style="color: black;"><h4>{{ member.name }}</h4></a></li>
        {% endfor %}
    </ul>
    <h1>Photographers:</h1>
    <ul style="padding-left: 30px">
        {% for member in photographers %}
            <li><a href="{% url 'articleView' member.id %}" style="color: black;"><h4>{{ member.name }}</h4></a></li>
        {% endfor %}
    </ul>
    <h1>Staff Writers:</h1>
    <ul style="padding-left: 30px">
        {% for member in staff %}
            <li><a href="{% url 'articleView' member.id %}" style="color: black;"><h4>{{ member.name }}</h4></a></li>
        {% endfor %}
    </ul>
    <h1>Alumni Writers:</h1>
    <ul style="padding-left: 30px">
        {% for member in alumni %}
            <li><a href="{% url 'articleView' member.id %}" style="color: black;"><h4>{{ member.name }}</h4></a></li>
        {% endfor %}
    </ul>
{% endblock %}